body {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    background-color: rgb(240, 239, 239);
    font-family: 'Prociono', serif;
}

button {
    cursor: pointer;
}

.containerRelatorio {
    width: 1200px;
    height: 800px;
    margin: 0 auto;
    margin-top: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.cabecalhoRelatorio {
    width: 150px;
    height: 1200px;
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.usuariologado {
    margin-top: -10px;
    margin-right: 50px;
    margin-bottom: 10px;
    font-size: 30px;
    cursor: pointer;
    font-weight: bolder;
}

.logoRelatorio {
    margin-top: -3px;
    margin-bottom: 10px;
}

.logo1Relatorio {
    width: 150px;
    height: 80px;
    margin-bottom: 30px;
}

.loginRelatorio  {
    margin-top: -10px;
    margin-right: 50px;
    margin-bottom: 30px;
    font-size: 30px;
    width: 150px;
    cursor: pointer;
    font-weight: bolder;
}

.cadastreRelatorio  {
    margin-top: -10px;
    margin-right: 50px;
    font-size: 30px;
    margin-bottom: 30px;
    width: 150px;
    cursor: pointer;
    font-weight: bolder;
}

.cadastreRelatorio  {
    margin-top: -10px;
    margin-right: 50px;
    font-size: 30px;
    margin-bottom: 30px;
    width: 150px;
    cursor: pointer;
    font-weight: bolder;
}

.cadastreRelatorio  {
    margin-top: -10px;
    margin-right: 50px;
    font-size: 30px;
    margin-bottom: 30px;
    width: 150px;
    cursor: pointer;
    font-weight: bolder;
}

.conteudoRelatorio {
    padding: 40px;
    margin-top: 10px;
    margin-right: 10px;
    width: 1000px;
    height: 700px;
}

.pedidos {
    display: flex;
}

.pedidoBebida {
    border-bottom: 1px solid black;
    width: 200px;
}